/* Of course, not minified... */

body {
	background-color: #101010;
	color: #EFEFEF;
}


a:link {
	color: #FFFF11;
}


a:visited {
	color: #AAE574;
}


h1, h2, h3, h4 {
	font-family: 'Roboto', serif;
}


code {
	color: #101010;
	background-color: #EFEFEF;
}


header {
	width: 100%;
	height: 100vh;

	position: relative;
}


header video {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 0;
	object-fit: cover;
}


header h1 {
	margin: 0 0 0 10px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;

	color: #EFEFEF;

	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 5em;
}


main {
	width: 700px;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

@media (max-width: 600px) {
	main {
		width: calc(100vw - 2em);
	}
}


main strong {
	font-weight: 900;
}



main p {
	text-align: justify;
	hyphens: auto;
}


main blockquote {
	border-left: 2px solid #EFEFEF;
	padding: 5px;
}


main blockquote p:first-child {
	margin-top: 0;
}


main blockquote p:last-child {
	margin-bottom: 0;
}
